@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  font-weight: 700;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.left-links,
.right-links{
  display: flex;
  gap: 16px;
}

a{
  text-decoration: none;
  color: gray;
}

ul {
  list-style-type: none;
  display: flex;

  
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #eeeeee;
  margin-top: auto;
  justify-content: space-between;
}

.content{
margin: auto;
}

.buttons,
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.buttons{
  gap: 6px;
}